/* BASE STYLING
 * use naming conventions from bootstrap where reasonable
 */

html {
    /* our base size */
    font-size: 18px;
}

* { box-sizing: border-box;}

body {
    line-height: 1.5;
    color: #444;
    margin: auto;
/*    font-family: 'Source Sans Pro', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

pre {
/*     font-family: 'Inconsolata'; */
}


h1,h2,h3,h4,h5,h6 {
    color: #222;
    margin: 0.5rem 0;
}

h1 { font-size:244%;}
h2 { font-size:195%;}
h3 { font-size:156%;}
h4 { font-size:125%;}
h5 {font-size:100%; }
h6 {font-size:80%; }

small, .small { font-size: 65%; }

/* secondary headings */
h1 small, h1 .small,
h2 small, h2 .small,
h3 small, h3 .small,
h4 small, h4 .small,
h5 small, h5 .small,
h6 small, h6 .small {
    color: #888;
    font-weight: normal;
}

p {
    margin-bottom: 0.75rem;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    margin: 0;
    padding: 0;
}



/* forms */

label {
    font-weight: bold;
    /*display: block; */
}

.checkbox label {
  display: inline-block;
  font-weight: normal;
}

input[type="checkbox"] {
    margin-left: 0;
}


input,textarea {
    padding: 0.4rem;
}

input,select { }


/* form errors */
.has-error input,
.has-error select,
.has-error textarea {
  border-color: #b94a48;
}

.has-error label,
.has-error .help-block {
  color: #b94a48;
}

/* form misc */

.form-group {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
}

.help-block {
    display: block;
    color: #888;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
}


.inline-form input,select {}


/* alerts */

.alert {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}


/* buttons */

.btn {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  background-color: transparent;
  border: 1px solid #888;
}

.btn-lg {
  font-size: 115%;
}

a.btn {
    color: #000;
}

a.btn:hover {
    background-color: #ccc;
    text-decoration: none;
}

a.btn:visited {
    color: #000;
}


/* tables */

.table {
    border-collapse:collapse;
}

.table th, .table td {
    padding: 0.4rem;
}

.table th {
    text-align: left;
}

.table td {
    text-align: right;
}

.table thead tr {
    border-bottom: 2px solid #ddd;
}
.table tbody tr {
    border-bottom: 1px solid #ddd;
}

/* END BASE STYLING */



/* site specific */

pre>code {
    padding: 1rem;
    display: block;
    color: #0f0;
    background-color: #000;
}


.site-header {
}


.big-title {
    height: 32rem;
    background-image: url(img/bg.jpg);
    background-size: cover;
    width: 100%;
}

.big-title h1 {
    font-size: 400%;
    color: #fff;
    text-align: center;
}

.container {
    max-width: 60rem;
    margin: auto;
}


